*{
    margin: 0%;
    padding: 0%;
   
   }
body{
    display: flex;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: black;
}
.container{
    position: relative;
    display: flex;
    width: 100%;
    justify-content: center;
    align-self: center;
}
.container .line{
    position: relative;
    width: 150px;
    height: 150px;
    border: 6px solid transparent;
    border-top: 6px solid green;
    border-radius: 50%;
    margin: -30px;
    animation: animate 4s linear infinite;
}
.container .line::before{
    content: '';
    width: 15px;
    height: 15px;
    background-color: green;
    position: absolute;
    top:12px;
    right: 12px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px #24ecff33,0px 0px 0px 10px #24ecff22,0px 0px 0px 20px #24ecff11;
}
.container p{
    position: absolute;
    color:white;
    font-size: 2rem;
    left:700px;
    bottom: -100px;
    letter-spacing: 0.15em;
    font-family:  'Segoe UI';
}
.container .line:nth-child(3){
    position: absolute;
    top: -66.66px;
    animation: animate2 4s linear infinite;
    border-left: 4px solid red;
    border-top: 4px solid transparent;
}
.container .line:nth-child(3)::before{
    content: '';
    top: initial;
    width: 15px;
    height: 15px;
    background-color: red;
    position: absolute;
    bottom:12px;
    left:  12px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px #d5242400,0px 0px 0px 10px #d5242422,0px 0px 0px 20px #d5242411;
}
.container .line:nth-child(2){
    animation: animate2 4s linear infinite;
    border-left: 4px solid yellow;
    border-top: 4px solid transparent;
}
.container .line:nth-child(2)::before{
    content: '';
    top: initial;
    width: 15px;
    height: 15px;
    background-color: yellow;
    position: absolute;
    bottom:12px;
    left:  12px;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 5px #bde85a34,0px 0px 0px 10px #bde85a23,0px 0px 0px 20px #bde85a13;
}
@keyframes animate {
    0%{transform: rotate(0deg);}
    100%{transform: rotate(360deg);}
    
}
@keyframes animate2 {
    0%{transform: rotate(360deg);}
    100%{transform: rotate(0deg);}
    
}

